:root {
    --verdeEscuro: #008364;
    --roxoBoreal: #4650bd;
    --gradienteBoreal: rgba(48, 73, 104, 1);
    --cor-p0: #ffffff;
    --cor-p1: #304968;
    --cor-p2: #36c1a0;
    --cor-p3: #b6bcff;
    --cor-p4: #000000;
}

.verdeEscuro {
    color: var(--verdeEscuro);
}

.roxoBoreal {
    color: var(--roxoBoreal);
}

.gradienteBoreal {
    color: var(--gradienteBoreal);
}

.cor-p0 {
    color: var(--cor-p0);
}

.cor-p1 {
    color: var(--cor-p1);
}

.cor-p2 {
    color: var(--cor-p2);
}

.cor-p3 {
    color: var(--cor-p3);
}

.cor-p4 {
    color: var(--cor-p4);
}
