.seu-ingresso {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    max-width: 40ch;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--cor-p0);
}

.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    width: 792px;
    height: 350px;
    background: linear-gradient(180deg, #304968 0%, #36c1a0 52.6%, #4650bd 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.content-logos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 450px;
}

.content-dados {
    display: flex;
    align-items: center;
    gap: 48px;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dados h2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--cor-p0);
}

.dados span {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: var(--cor-p0);
}

@media (max-width: 900px) {
    .seu-ingresso {
        max-width: 24ch;
    }

    .content {
        width: 648px;
        height: 684px;
        justify-content: space-around;
        align-items: center;
    }

    .content-logos {
        gap: 300px;
    }

    .content-dados {
        flex-direction: column;
    }

    .dados {
        text-align: center;
    }
}

@media (max-width: 615px) {
    .seu-ingresso {
        max-width: 15ch;
    }

    .content {
        width: 312px;
        height: 564px;
    }

    .content-logos {
        gap: 30px;
    }

    .content-dados {
        gap: 10px;
    }
}
