.header-bg {
    background-color: var(--roxoBoreal);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.lista-menu {
    display: flex;
    gap: 20px;
    color: var(--cor-p0);
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.icon-menu {
    display: none;
}

@media (max-width: 900px) {
    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 615px) {
    .lista-menu {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .icon-menu {
        display: block;
    }
}
