.mapa-setores {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.img-setores {
    width: 600px;
    height: 590;
}

.setores {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
}

.setores-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.setores-item h1 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 32px;
    line-height: 38px;
    color: var(--cor-p0);
}

.setores-item span {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 40px;
    color: var(--cor-p0);
    position: relative;
}

.premium::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: -45px;
    background-color: #0e7df1;
}

.comum::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: -45px;
    background-color: #fe016e;
}

.terreo::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: -45px;
    background-color: #01a89e;
}

.superior::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: -45px;
    background-color: #3f51b5;
}

.rampas::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: -45px;
    background-color: #0e7df1;
}

.info-setores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    gap: 48px;
}

.titulo-info {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: var(--cor-p0);
}

.info-itens {
    display: flex;
    gap: 24px;
    height: 650px;
}

.pista {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.premium {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 24px;
}

.cadeiras {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.info-itens img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.info-itens h1 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--cor-p0);
}

.info-itens p {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--cor-p0);
}

@media (max-width: 900px) {
    .setores {
        flex-direction: column;
        gap: 40px;
    }

    .info-itens {
        flex-direction: column;
        height: auto;
    }

    .info-itens p {
        max-width: 50ch;
    }
}

@media (max-width: 615px) {
    .img-setores {
        width: 400px;
    }

    .setores-item h1 {
        font-size: 20px;
    }

    .info-itens img {
        width: 300px;
        height: 200px;
    }

    .info-itens {
        flex-direction: column;
        height: auto;
    }

    .info-itens p {
        max-width: 30ch;
    }

    .titulo-info {
        font-size: 32px;
        text-align: center;
    }
}
